.DS_Store
/ios/nowis.xcodeproj/project.xcworkspace/
/ios/nowis.xcodeproj/xcuserdata/
/ios/sugoi-webview.xcodeproj/project.xcworkspace/
/ios/sugoi-webview.xcodeproj/xcuserdata/
/android/.classpath
/android/bin/
/android/gen/
/android/project.properties